*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	margin: 0;
	padding: 0;
	background: #ffffff;
}
#grandfather
{
	border: 3px solid white;
	background: #ffffff;
	width: auto;
	position: relative;
	padding: 2px;
	margin:2px;
}
button
{
	background: linear-gradient(to bottom right,white 40%,green 60% );
	margin: 15px;
	padding: 10px;
	width: 100px;
	box-shadow: 0 0 20px #000;
	border-radius: 10px;
}